main{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;

}

form{

    display: flex;
    flex-direction: column;

}

.container{

    border: 1px solid gray;
    border-radius: 25px;
    padding: 20px;
    background-color:rgb(156, 233, 156);

}

input[type="text"]{
    border-radius: 20px;
}

input[type="submit"]{
    border-radius: 25px;
    padding: 10px;
}

.bnt-mav{
    background-color: aqua;
    width: 100px;
    height: 40px;
    border: none;
}

.drop1{
    display: none;
}

.drop2{
    display: none;
}


.drop-down1 input:focus ~ .drop1{
    display: block;
}

.drop-down2 input:focus ~ .drop2{
    display: block;
}

header li button{
    width: 100px;
    height: 40px;
    border: none;
   
}

header{
    display: flex;
}